.container {
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 5%;
  
}

.gallery_choose_gallery {
  font-size: 60px;
  margin: 20px 0;
  text-align: center;

  margin-bottom : 30px;
  color: rgb(143, 61, 6);
}

.gallery__items {
  display: flex;
  gap: 50px;
justify-content: center;
  align-items: center;
  padding-bottom : 20px;
}

.item {
 border: 4px solid rgb(143, 61, 6);
  border-radius: 5px;
  width: 350px;
  height: 470px;
  position: relative;
  background-size: cover !important;
}

.item:hover .title {
  color: rgb(143, 61, 6);
}

.item:nth-child(1) {
  background: url("../../../public/photo1.jpeg");
}

.item:nth-child(2) {
  background: url("../../../public/photo3.jpeg");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 40px;
  font-size: 40px;
  font-weight: bold;
color : white;
}
